/* =====================================
   CATEGORY PAGE WRAPPER
===================================== */
.cat-container {
  padding: 50px 8%;
  min-height: 90vh;
  background: radial-gradient(circle at top, #28292c, #24262f);
}

.cat-title {
  font-size: 36px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
}

/* =====================================
   GRID
===================================== */
.cat-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 25px;
}

.cat-card {
  background: radial-gradient(circle at top, #28292c, #24262f);
  text-align: center;
  color: white;
  border-radius: 16px;
  padding: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.85);
}

.cat-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 45px rgba(56, 189, 248, 0.25);
}

.cat-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 10px;
}

.cat-card h3 {
  font-size: 18px;
}

/* ===============================
   CATEGORY PRICE STYLE
================================ */

.cat-price-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
}

/* Red discount badge */
.cat-discount {
  font-size: 13px;
  font-weight: 600;
  color: #ff4d4d;
  background: rgba(255, 77, 77, 0.15);
  padding: 4px 8px;
  border-radius: 8px;
}

/* Blue price */
.cat-price {
  font-family: "Century Gothic", "Poppins", "Segoe UI", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #3b82f6;
  letter-spacing: 0.3px;
}


/* EMPTY STATE */
.cat-empty {
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}

/* =====================================
   RESPONSIVE
===================================== */
@media (max-width: 600px) {
  .cat-title {
    font-size: 28px;
  }

  .cat-grid {
    grid-template-columns: 1fr;
  }
}
